[Re] Project Backend/project/database/test.xml

        <!--
        (c) GamS
        2022-06-17
        let you get rewards for your customers.
          -->
<definitions xmlns:tns="localhost:8000/service.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="localhost:8000/service.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"  targetNamespace="localhost:8000/service.wsdl">
    <!--  definition of datatypes  -->
    <types>
        <schema xmlns="http://www.w3.org/2000/10/XMLSchema" targetNamespace="localhost:8000/service.xsd">
            <element name="customer">
                <complexType>
                    <all>
                        <element name="value" type="string"/>
                    </all>
                </complexType>
            </element>
            <element name="action">
                <complexType>
                    <all>
                        <element name="value" type="string"/>
                    </all>
                </complexType>
            </element>
            <element name="rewards">
                <complexType>
                    <all>
                        <element name="value" type="string"/>
                    </all>
                </complexType>
            </element>
            <element name="resultcode">
                <complexType>
                    <all>
                        <element name="value" type="int"/>
                    </all>
                </complexType>
            </element>
            <element name="count">
                <complexType>
                    <all>
                        <element name="value" type="int"/>
                    </all>
                </complexType>
            </element>
        </schema>
    </types>
    <!--  response messages  -->
    <message name="returns_resultcode">
        <part name="resultcode" type="xsd:resultcode"/>
    </message>
    <message name="returns_rewards">
        <part name="rewards" type="xsd:rewards"/>
    </message>
    <!--  request messages  -->
    <message name="post_action">
        <part name="customer" type="xsd:customer"/>
        <part name="action" type="xsd:action"/>
        <part name="count" type="xsd:count"/>
    </message>
    <message name="get_rewards">
        <part name="customer" type="xsd:customer"/>
    </message>
    <!--  server's services  -->
    <portType name="gamification">
        <operation name="post_action">
            <input message="tns:post_action"/>
            <output message="tns:returns_resultcode"/>
        </operation>
        <operation name="get_rewards">
            <input message="tns:get_rewards"/>
            <output message="tns:returns_rewards"/>
        </operation>
    </portType>
    <!--  server encoding  -->
    <binding name="gamification_webservices" type="tns:gamification">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="post_action">
            <soap:operation soapAction="urn:xmethods-delayed-quotes#post_action"/>
            <input>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="get_rewards">
            <soap:operation soapAction="urn:xmethods-delayed-quotes#get_rewards"/>
            <input>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
    <!--  access to service provider  -->
    <service name="Smecherii">
        <port name="Smecherii_0" binding="gamification_webservices">
            <soap:address location="http://127.0.0.1./test_soap/endpoint1.php"/>
        </port>
        <port name="Smecherii_1" binding="gamification_webservices">
            <soap:address location="http://127.0.0.1./test_soap/endpoint2.php"/>
        </port>
    </service>
</definitions>